#navbar-box{
    display: grid;
    grid-template-columns: 75% 25%;
    height: 80px;
    margin-bottom: 30px;
    background: rgb(240, 188, 255);
    box-shadow: 1px 1px 10px black;
}
.icon-div{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#navbar-logo-icon{
    width: 100px;
    height: 60px;
}

#navbar-logo-icon:hover{
    cursor: pointer;
}

#navbar-buttons{
    display: inline-flex;
    align-items: center;
}

#navbar-signup-button{
    grid-column: 2/3;
    border: 0;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    background: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    transition: .15s;
}

#navbar-login-button{
    grid-column: 3/4;
    width: 130px;
    height: 50px;
    margin-left: 30px;
    border: 0;
    border-radius: 15px;
    background-color: #a971d3;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: rgb(255,255,255);
    transition: .15s;
}

#navbar-login-button:hover{
    background-color: #8d56b8;
    cursor: pointer;
}

#navbar-signup-button:hover{
    background-color: rgb(228, 183, 243);
    cursor: pointer;
}

#navbar-dashboard-button,
#navbar-account-button{
    grid-column: 3/4;
    min-width: 130px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background-color: #c191e6;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: rgb(255,255,255);
    transition: .15s;
}

#navbar-account-button{
    margin-right: 20px;
    margin-left: 20px;
}

#navbar-dashboard-button:hover,
#navbar-account-button:hover{
    background-color: #a672ce;
    cursor: pointer;
}